//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

@import url('https://rsms.me/inter/inter.css');

// Because rem is relative to the root of the document, we need to set the font-size on html. This *MUST* be in px.
html, * {
	// sass-lint:disable property-units
	font-family: 'Inter', sans-serif; 
	font-size: $base-context * 1.6 * 1px;
	// sass-lint:enable property-units
}
@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

body,
button,
input,
select,
textarea {
	color: $color-text-main;
	font-family: $font-sans;
	line-height: $line-height-body;
} // body, button, input, select, textarea

//--------------------------------------------------------------
// Headers
//--------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
	color: $text-87;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;

	a {
		color: rgba(0,0,0,1);
	}
}
h1,
.h1 {
	font-size: rem(40);

	@media only screen and (min-width: $tablet-portrait) {
		font-size: rem(64);
	}
} // h1, .h1

h2,
.h2 {
	font-size: rem(23);
	// text-align: center;

	@media only screen and (min-width: $tablet-portrait) {
		font-size: rem(30);
	}
} // h2, .h2

h3,
.h3 {
	font-size: rem(22);

	@media only screen and (min-width: $tablet-portrait) {
		font-size: rem(26);
	}
} // h3, .h3

h4,
.h4 {
	font-size: rem(18);

	@media only screen and (min-width: $tablet-portrait) {
		font-size: rem(22);
	}

} // h4, .h4

h5,
.h5 {
	font-size: rem(16);

	@media only screen and (min-width: $tablet-portrait) {
		font-size: rem(18);
	}

}  // h5, .h5

h6,
.h6 {
	font-size: rem(16);
	font-weight: 600;
	text-transform: uppercase;

	@media only screen and (min-width: $tablet-portrait) {
		font-size: rem(18);
	}
} // h6, .h6

//--------------------------------------------------------------
// Copy
//--------------------------------------------------------------

p, li {
	margin: 0 auto rem(24) 0;
	line-height: 1.6em;
	color: $color-half-black;

	@media only screen and (min-width: $tablet-portrait) {
		font-size: rem(18);
	}
} // p

b,
strong {
	font-weight: 700;
} // b, strong

dfn,
cite,
em,
i {
	font-style: italic;
} // dfn, cite, em, i

blockquote,
q {
	margin: 0 rem(24);
	quotes: '" "';

	&::before,
	&::after {
		content: '';
	}  // &::before, &::after
} // blockquote, q

address {
	margin: 0 0 rem(24) 0;
} // address

pre {
	background-color: $color-gallery;
	color: $color-cod-gray;
	font-family: $font-pre;
	font-size: rem(13);
	line-height: $line-height-pre;
	margin: 0 0 rem(24) rem(-24);
	overflow: auto;
	padding: rem(24);
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
} // pre

code,
kbd,
tt,
var {
	font-family: $font-code;
	font-size: em(15);
} // code, kbd, tt, var

abbr,
acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
} // abbr, acronym

mark,
ins {
	text-decoration: none;
} // mark, ins

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
} // sup, sub

sup {
	bottom: 1ex;
} // sup

sub {
	top: 0.5ex;
} // sub

small {
	font-size: 75%;
} // small

big {
	font-size: 125%;
} // big

// Max Widths
p,
ol,
ul,
blockquote {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}
