//--------------------------------------------------------------
// Media Query Breakpoints
//--------------------------------------------------------------

/// Standard Media Query Breakpoints
/// @group wds

$large-desktop: 1680px;
$desktop: 1366px;
$twelve-hundred: 1200px;
$tablet-landscape: 1024px;
$eight-fifty: 850px;
$wp-admin-bar: 783px;
$tablet-portrait: 768px;
$phone-landscape: medi640px;
$hero-medium: 545px;
$phone-portrait: 360px;
$iphone6: 414px;
